<!-- Head custom content area start -->
<!-- CSS -->
<style>
    body{
        background-color: #fefffa;
        background-image: url(https://static.fifsky.com/shuyan/images/bg.jpeg);
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<link href="https://static.fifsky.com/artalk/Artalk-2.2.11.css" rel="stylesheet">
<!-- JS -->
<script src="https://static.fifsky.com/artalk/Artalk-2.2.11.js"></script>
<!-- Head custom content area end -->
